
            <h2 class="bgcolor">Similar Books</h2>
        
    <ng-container *ngIf="SimilarBook$ | async as books; else loading">
        <div class="d-flex justify-content-start p-2">
            <div class="card-deck-container">
                <div *ngFor="let book of books" class="p-1">
                    <app-book-cards [books]="book"></app-book-cards>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #loading>
        <div class="spinner-container">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
